<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS Admin | <%= @page_title || "Admin" %></title>
</head>
<body>
  <div class="header">
    <h1>Simple CMS Admin</h1>
  </div>
  <div class="main">
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p id="copyright">&copy; lynda.com / Kevin Skoglund</p>
  </div>
</body>
</html>